<p>
    <strong>Date:</strong>
    <%= @workout.date.strftime("%m-%d-%Y") %>
</p>

<p>
    <strong>Description:</strong>
    <%= @workout.description %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout), {:class => 'btn btn-warning'} %>
<%= link_to 'Back', workouts_path, {:class => 'btn btn-danger'} %>
