<div class="jumbotron">
    <div class="container text-center">
        <h1>Fitness Tracking App</h1>
        <p>By Edwin Duenez</p>
        <p><%= link_to 'Track a new Workout', new_workout_path, {:class => 'btn btn-success btn-lg'} %></p>
    </div>
</div>

